.main_title {
  font-size: 5rem;
  font-weight: 700;
}

.main_left_wrapper {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 2rem;
  margin-left: 10%;
}

.button_wrapper {
}
