.navigation_wrapper {
  display: flex;
  flex-flow: column;
  margin-top: 1rem;
}

.nav_title {
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
}

.nav_wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.nav_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  width: 40vw;
  padding: 0;
}

.nav_list li {
  justify-content: center;
  display: flex;
  flex-flow: row;
}

.nav_list li > * {
  text-decoration: none;
  color: black;
  padding-bottom: 1rem;
}

.nav_selected {
  font-weight: 600;
}

.nav_account_wrapper {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.nav_account_actions {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-right: 1rem;
  gap: 1rem;
}

.account_text {
  font-weight: 600;
}

.account_button {
  font-size: 0.9rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}

.section_seperator {
  width: 5rem;
  border-bottom: 1.5px solid black;
  margin: 0 auto;
}
